.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease-in, visibility 0.3s;
  opacity: 0;
}

.modal__type_preview{
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 40%;
  background-color: transparent;
  border: none;
  background-image: url(../images/trash\ btn.svg);
  background-repeat: no-repeat
  background-position: center;
  background-size: 15x 15px;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background-color: transparent;
  background-image: url(../images/delete.svg);
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-color: rgba(33, 33, 33, 0.4);
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}
.modal__input:hover {
  border-color: 1px solid rgba(33, 33, 33, 1);
}

.modal__button {
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  width: 100%;
  max-width: 156px;
  padding: 18px 0;
  background: #212121;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__submit-button {
  max-width: 156px;
  cursor: pointer;
  color: rgba(252, 245, 229, 1);
  background: rgba(33, 33, 33, 1);
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview{
    top: -48px;
    right: 0;
  }
}

.modal__image{
  max-width: unset;
}


@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
    width: 320px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__submit-button {
    max-width: 500px;
  }
}
